.wrapper{
    max-width: 1440px;
    width: 100%;
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.card{
    width: 274px;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}